:root{
    --green: #00a884;
    --backgroundColor: #111b21;
    --pervTextColor: #8696a0;

    --msgColor: #e9edef;
    --sendMsgBgColor: #005c4b;
    --recMsgBgColor: #202c33;
}

body{
    margin: 0px;
    color: var(--msgColor);
    font-family: 'Open Sans', sans-serif;
}