body {
    background-color: var(--backgroundColor);
}


.main {
    height: 100vh;
    min-width: 745px;
    display: flex;
    flex-direction: row;
}


.main__left {
    flex-basis: 40%;

    display: flex;
    flex-direction: column;

    border-top: 1px solid var(--outlineBorder);
    border-right: 1px solid var(--outlineBorder);
}

.left__header {
    height: 60px;

    display: flex;
    align-items: center;

    background-color: #202c33;
}

.left__middle {
    flex-grow: 1;
    overflow: scroll;
    padding: 5px;
}

.left_middle--profileImg{
    padding-left: 15px;
}

.left__middle--options{
    flex: 1;

    display: flex;
    justify-content: end;
    padding-right: 10px;
    gap: 8px;
}

.left__middle--search {
    position: relative;
    top: 0;
    left: 0;

    font-size: 1.6rem;
}

.main__right {
    flex-basis: 60%;

    display: flex;
    flex-direction: column;

    border-top: 1px solid var(--outlineBorder);
    border-left: 1px solid var(--outlineBorder);
}

.right__header {
    height: 40px;
    background-color: #202c33;
}

.right__middle {
    flex-grow: 1;
    overflow: auto;
}

.right__middle::-webkit-scrollbar-track {
    background-color: transparent;
}

.right__middle::-webkit-scrollbar-track-piece:start {
    background-color: transparent;
    border: none;
}
.right__middle::-webkit-scrollbar-track-piece:end {
    background-color: transparent;
    border: none;
}


.right__middle::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.353);
    border-radius: 0px;
}

.right__bottom {
    border: 1px solid turquoise;
}