.message-input {
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message-input p {
    margin: 0px;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-track-piece {
    background: #ccc;
}


.placeholder-div {
    position: relative;
    /* border: 1px solid #ffffff; */
    padding: 10px;
    min-height: 50px;
    /* Set a minimum height for the div */
}

.placeholder-text {
    position: absolute;
    top: 10px;
    /* Adjust the top position to your liking */
    left: 10px;
    /* Adjust the left position to your liking */
    color: #ff0000;
    /* Color of the placeholder text */
    pointer-events: none;
    /* Prevent text selection and click on the placeholder */
}

/* Hide the placeholder text when the div has content */
.placeholder-div:not(:empty) .placeholder-text {
    display: none;
}