.add-contact{
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px;
    z-index: 5;
    border-radius: 5px;
    background-color: #3b4a54;
}

@media screen and (max-width: 745px) {
    .add-contact{
        position: absolute;
        left: 300px;
        z-index: 5;
        background-color: #3b4a54;
    }
}

.add-contact-header {
    text-align: center;
    color: #e9edef;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form input {
    width: 350px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contact-form .close-btn{
    margin-right: 7px;
    padding: 10px 25px;
    background-color: #3b4a54;
    color: #00a884;;
    border: 1px solid #46555f;
    border-radius: 100px;
    cursor: pointer;
}

.contact-form .add-btn {
    padding: 10px 25px;
    background-color: #00a884;
    color: #111b21;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.contact-form .add-btn:hover {
    background-color: #06cf9c;
}

.contact-form .close-btn:hover {
    color: #06cf9c;
}